---
dependencies: []

galaxy_info:
  role_name: {{ role_name }}
  author: Change Me
  description: Ansible role that contains configurations for {{ role_name }}
  license: BSD
  min_ansible_version: 2.9
  galaxy_tags: []
